.conteudo {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 4rem;
  margin-right: 10px;
}

.conteudo img {
  max-width: 100%;
}

@media (max-width: 900px) {
  .conteudo {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .conteudo img {
    display: none;
  }
}
