.header {
  max-width: 1200px;
  display: flex;
  background: var(--fundo1);
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.header-logo {
  display: block;
  width: 48px;
  height: 48px;
}

.logo-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.logo-container h1 {
  padding: 0px 20px;
  color: var(--fundo2);
}

.header-menu a {
  color: var(--fundo1);
  display: block;
  background: var(--cor-primaria);
  padding: 12px 30px;
  border-radius: 4px;
  border: 2px solid transparent;
}

.header-menu a:hover {
  border: 2px solid var(--fundo2);
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
  }
}
